  /* Botão hamburguer */
.botao-hamburguer {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1001;
  font-size: 30px;
  cursor: pointer;
  z-index: 1001;
  background-color: transparent;
  color: #b89720;
  padding: 10px;
  border-radius: 5px;
  user-select: none;
  transition: background-color 0.3s, color 0.3s;
}

.botao-hamburguer:hover,
.botao-hamburguer.ativo {
  background-color: transparent;
  color: #fff;
}

/* Menu lateral */
.menu-lateral {
  position: absolute;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #101010;
  color: #b89720;
  padding: 100px 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease;
  z-index: 1000;
  border-radius: 10px;
}

.menu-lateral.aberto {
  left: 0;
}

/* Itens do menu */
.menu-lateral ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

.menu-lateral ul li {
  padding: 12px 20px;
  cursor: pointer;
  color: #fff;
  text-align: left;
  position: relative;
  border-radius: 10px;
}

.menu-lateral ul li:hover {
  background-color: #ff000057;
  border-radius: 10px;
}

.menu-lateral ul li ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #101010;
  min-width: 180px;
  border-radius: 10px;
}

.menu-lateral ul li:hover > ul {
  display: block;
}

.menu-lateral ul li ul li {
  padding: 10px;
}

.menu-lateral ul li ul li:hover {
  background-color: #ff000057;
  border-radius: 10px;
}

/* Links */
.menu-lateral a,
.menu-lateral button {
  color: #fff;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 18px;
  border-radius: 10px;
}

.menu-lateral a:hover,
.menu-lateral button:hover {
  color: #b89720;
}


/* Mantém fixo com scroll */
body {
  margin: 0;
  font-family: Arial, negrito;
}
