/* ==== PLAYER EMBUTIDO NO FOOTER ==== */
.footer-player {
  margin-top: 20px;
  width: 100%;
  background-color: #222;
  padding: 10px 20px;
  border-radius: 10px;
}

.footer-player .player {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer-player .player button {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.footer-player .player button:hover {
  color: #b89720;
}

.footer-player .player input[type="range"] {
  width: 100px;
}

.btn-volume svg {
  color:#b89720;
}

  /* CONTROLES DE MÚSICA */
.track-info {
  display: flex;               /* Corrigido */
  align-items: center;         /* Centraliza na vertical */
  gap: 10px;
  color: #000000;
  background-color: #b89720;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 18px;
  justify-content: flex-start;
}

.track-info span {
  font-weight: bold;
  margin-left: 20px;
}